[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=odriveUnsync;
Encoding=UTF-8

[Desktop Action odriveUnsync]
Name=odrive unsync
Icon=/usr/share/icons/odrive.png
Exec=python "$HOME/.odrive-agent/bin/odrive.py" unsync %f