[Desktop Entry]
Type=Service
Icon=/usr/share/icons/odrive.png
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/odrive-file;application/odrive-folder;
Actions=odriveSync;
Encoding=UTF-8

[Desktop Action odriveSync]
Name=odrive sync
Icon=/usr/share/icons/odrive.png
Exec=python "$HOME/.odrive-agent/bin/odrive.py" sync %f