[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/odrive-file;application/odrive-folder;
Actions=odriveSync;odriveSyncAll;odriveUnsync;
Encoding=UTF-8

[Desktop Action odriveSync]
Name=odrive sync
Icon=odrive
Exec=bash -c "$HOME/.odrive-agent/bin/odrive.py sync \"%f\""

[Desktop Action odriveSyncAll]
Name=odrive sync all (recursive)
Icon=odrive
Exec=bash -c "$HOME/.odrive-agent/bin/odrive-sync-recursive.sh \"%f\""

[Desktop Action odriveUnsync]
Name=odrive unsync
Icon=odrive
Exec=bash -c "$HOME/.odrive-agent/bin/odrive.py unsync \"%f\""
